*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 10px 90px;
  border: 2px solid;
}
.search_emoji{
  text-align: center;
  margin: 0 auto;
}
#serach_emoji_input{
  padding: 4px 8px;
  width: 400px;
  height: 25px;
  font-size: 18px;
}
#emoji_container{
  display: flex;
  flex-wrap: wrap;
  
  gap: 1rem;
}
.emoji_card{
  width: 200px;
  border: 1px solid;
}
